{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>portal.goeshard.org</title>
    <link rel="stylesheet" href="{% static 'render/tree.css' %}">
  </head>
  <body>
      <header class="toolbar">
      <button id="btnExpand">Expand All by One</button>
      <button id="btnCollapse">Collpase All by One</button>
      <button id="btnMarkUnseen">Mark All Unseen</button>
    </header>
  <section class="container">
    <main class="json-root">
      {% include "render/tree.html" with node=nodes key_name=None %}
    </main>
  </section>
  <script src="{% static 'render/tree.js' %}"></script>
  </body>
</html>
